/.git
/.vs
/Debug
/Release
cefmfcdemo.v12.suo
cefmfcdemo.sdf
cefmfcdemo.opensdf
ipch/cefmfcdemo-7b2efe90/cefmfcdemo-7932f1cf.ipch
ipch/cefmfcdemo-7b2efe90/cefmfcdemo-3955a015.ipch
debug.log
